@charset "CP850";
/**
 * A theme for reveal.js presentations with JS flavour
 */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../../lib/font/OpenSans/OpenSans-Regular-webfont.eot");
  src: url("../../lib/font/OpenSans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/OpenSans/OpenSans-Regular-webfont.woff") format("woff"), url("../../lib/font/OpenSans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../../lib/font/OpenSans/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansItalic";
  src: url("../../lib/font/OpenSans/OpenSans-Italic-webfont.eot");
  src: url("../../lib/font/OpenSans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/OpenSans/OpenSans-Italic-webfont.woff") format("woff"), url("../../lib/font/OpenSans/OpenSans-Italic-webfont.ttf") format("truetype"), url("../../lib/font/OpenSans/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../../lib/font/OpenSans/OpenSans-Bold-webfont.eot");
  src: url("../../lib/font/OpenSans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/OpenSans/OpenSans-Bold-webfont.woff") format("woff"), url("../../lib/font/OpenSans/OpenSans-Bold-webfont.ttf") format("truetype"), url("../../lib/font/OpenSans/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
em, em * {
  font-family: 'OpenSansItalic', sans-serif;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body,
body.x-body {
  background: white;
  background-color: white;
}

.reveal {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #2a2b2c;
}

::selection {
  color: white;
  background: #26351c;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #537078;
  font-family: "OpenSansBold", sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none;
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #0b72b5;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: #053555;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #07456d;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #2a2b2c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #0b72b5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #0b72b5;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #0b72b5;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #0b72b5;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #0b72b5;
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #053555;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #053555;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #053555;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #053555;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #0b72b5;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/* styles that will make the design cleaner */
body {
  font-family: 'OpenSansRegular', sans-serif;
}

img {
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.reveal ul {
  list-style-type: none;
}

/* styles that are specific for this presentation */
/* ReSharper disable UnknownHtmlTag */
.nowrap {
  white-space: nowrap;
}

/* 'Created' by area */
.pesentation-details {
  position: absolute;
  left: 10px;
  bottom: 5px;
  color: gray;
  font-size: 0.8em;
}
.pesentation-details a {
  color: #51483D;
  text-decoration: none;
}
.pesentation-details a:hover {
  color: #8B7C69;
}

.key {
  position: relative;
  bottom: 5px;
  display: inline-block;
  line-height: 30px;
  min-width: 30px;
  color: #000;
  padding: 3px !important;
  text-shadow: none;
  letter-spacing: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: #000000 0 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  vertical-align: sub !important;
  margin: 0 7px !important;
}

blockquote {
  margin-top: 40px !important;
  box-shadow: none;
}

ol {
  margin: 40px 0 0 130px !important;
}

small.mini {
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
  width: 90%;
}

small.miniR {
  text-align: right;
  font-size: 12px;
  margin-top: 10px;
  width: 70%;
}

ul.model {
  margin-top: 30px;
}
ul.model li {
  margin-bottom: 30px;
  color: #494d4d;
}
ul.model span {
  padding: 5px !important;
  border-radius: 10px;
  background: #fff;
  box-shadow: #000000 0 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  margin: 7px;
  background-color: #737373;
  color: white;
  width: 300px;
}

/*
.reveal .state-background {
    background-image: url('../../images/pixel.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 454px 454px;
}
*/
code.small {
  font-size: 14px;
  line-height: 16px;
  max-height: 500px;
}

iframe.spec {
  height: 300px;
  width: 600px;
  border: 1px solid silver;
  box-shadow: #000000 0 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
}

.showPrint {
  display: none !important;
}

/* iphone-example (div) */
.iphone {
  background: url(../../images/iphone-screen.gif), url(../../images/iphone-hand.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 122px 99px, 0 0;
  width: 704px;
  height: 889px;
  margin-left: 200px !important;
}

/* ipad slide (div) */
.ipad {
  background: url(../../images/ipad-hand.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 858px;
  height: 724px;
  margin-left: 200px !important;
}

/* fix font aweseome */
.fa {
  display: inline-block !important;
  font-family: FontAwesome !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: 1 !important;
  font-style: normal !important;
  color: #537078;
}

/* fix font aweseome */
.fa-2x {
  font-size: 2em !important;
}

.fa-3x {
  font-size: 3em !important;
}

.fa-4x {
  font-size: 4em !important;
}

.fa-5x {
  font-size: 5em !important;
}

/* boxes */
.box {
  background-color: #a6a6a6 !important;
  color: white !important;
  padding: 20px !important;
  margin: 20px !important;
}
.box .box {
  background-color: #737373 !important;
}
.box .box .box {
  background-color: #404040 !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.box .one_half {
  width: 40%;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/* IE-Patch fÅr IE 7*/
*:first-child + html .clearfix {
  min-height: 0;
}

/* IE-Patch fÅr IE 6*/
* html .clearfix {
  height: 1%;
}

/* ReSharper restore UnknownHtmlTag */
