<!DOCTYPE html>
<html ng-app="exampleApp" >
<head>
    <title>NG Custom Directives Example</title>   
    <link href="../style.css" rel="stylesheet" />
</head>
  
<!-- see https://docs.angularjs.org/guide/directive -->

<body class="example" ng-controller="exampleController">

    <form class="form_example">
        <label for="title">Title</label>
        <input id="title" ng-model="model.title">
        
        <label for="message">Message</label>
        <input id="message" ng-model="model.message">
    </form> 
 
<!--START-->   
    <sticky-note title="{{ model.title }}" message="{{ model.message }}"></sticky-note>
<!--STOP-->         

    <script src="../../js/angular-1.3.0/angular.js"></script>
    <script src="angular.js"></script>
</body>
</html>